.root {
	-fx-background-image: url("../images/Skyline_Seattle_schwarz_1920x1080px.jpg");
	-fx-base: black;
	-fx-base-semitrans: rgba(0,0,0, 0.2);
 	-fx-dark-textcolor: pink;
	-fx-textcolor: white;


    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: cyan;

    /* Default buttons color, this is similar to accent but more subtle */
    -fx-default-button: #4fb6d6;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     */
    -fx-focus-color: #f25f29;
    -fx-faint-focus-color: #f25f2933;

    -fx-default-button: orange;
    -fx-control-inner-background: #505050;
	-fx-control-inner-background-alt: #303030;

    -fx-box-border: ladder(
        -fx-color,
        orange 20%,
        derive(-fx-color,-15%) 60%
    );

    -fx-outer-border: derive(orange,-23%);

    /* The color to use in ListView/TreeView/TableView to indicate hover. */
    -fx-cell-hover-color: #0096C9;

    -fx-cell-focus-inner-border: #85b9de;

    /* The colors to use in Pagination */
    -fx-page-bullet-border: #acacac;
    -fx-page-indicator-hover-border: #accee5;

    textcolor-highlight-primary: orange;
}
.command-bar {
	-fx-background-color: rgba(0,0,0, 0.3);
}

#shadowrun-overview {
   -fx-background-image:  url("../images/Skyline_Seattle_schwarz_1920x1080px.jpg"), url('../images/Overview.png');
   -fx-background-position: center, right bottom;
   -fx-background-size: stretch, auto;
   -fx-background-repeat: no-repeat;
}

.dialog-outside {
    -fx-background-color: white;
}

.carrieditem-cell .button {
	-fx-border-width: 2px;
	-fx-background-color: -fx-control-inner-background;
}
.carrieditem-cell .button:hover {
    -fx-background-color: -fx-focus-color;
}
.font-icon-text {
    -fx-fill: -fx-light-text-color;
}
.requirement-not-met-text {
    -fx-text-fill: red;
}

