@font-face {
	font-family: 'ArmaduraSolidW00-Regular';
	font-weight: normal;
	font-style: normal;
    src: url('../fonts/ArmaduraSolid.ttf');
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0;
    -fx-padding: 0.4em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,0H8V8H0Z";
}
.check-box:selected .mark {
    -fx-background-color: derive( -fx-text-base-color, -25%);
}

.scroll-pane,
.split-pane,
.list-view,
.tree-view,
.table-view,
.tree-table-view {
    -fx-background-color: transparent;
	-fx-border-style: solid;
	-fx-border-color: -fx-box-border;
}

.button {
	-fx-border-color: -fx-outer-border;
    -fx-border-width: 1;
	-fx-background-color: transparent;
}
.mini-button {
    -fx-border-width: 0;
}
.action-area .button {
    -fx-border-width: 0;
	-fx-border-style: dashed;
	-fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent, -fx-control-inner-background;
    -fx-background-insets: 0.15em, 0.22em ;
}
.list-cell:odd {
    -fx-background-color: transparent, -fx-control-inner-background-alt;
}
.list-cell:even {
    -fx-background-color: transparent, -fx-control-inner-background;
}
.list-cell:empty {
    -fx-background-color: transparent;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background-alt;
    -fx-background-insets: 0, 1, 2;
}
/* When the list-cell is selected and focused */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}
/* When the ListView is _not_ focused, we show alternate selection colors */
.list-cell:filled:selected:focused,
.list-cell:filled:selected,
.list-view:horizontal > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}
.list-cell:filled:selected:focused:disabled,
.list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}


.web-view {
	-fx-font-scale: 0.8;
	-fx-background-color: red;
}
.table-heading {
  -fx-text-fill: textcolor-highlight-primary;
  -fx-border-width: 1px 0 1px 0;
  -fx-border-style: solid;
  -fx-border-color: textcolor-highlight-primary;
  -fx-padding: 0 5px 0 5px;
}

.table-head #attrtable-max {
  -fx-text-fill: red;
}
.priority-table .row-heading {
    -fx-text-fill: textcolor-highlight-primary;
}
.priority-table .table-heading {
    -fx-text-fill: textcolor-highlight-primary;
}

.toggle-button {
	-fx-background-color: transparent;
	-fx-text-fill: -fx-text-base-color;
}

.toggle-button:selected {
	-fx-background-color: -fx-control-inner-background;
	-fx-text-fill: -fx-text-base-color;
}

.list-cell .type-label {
	-fx-font-size: large;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-opacity: 0.2;
}

.list-cell .itemprice-label {
	-fx-font-size: large;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-opacity: 0.4;
}

.list-cell .cost {
	-fx-font-size: x-large;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-opacity: 0.6;
}

.list-cell .action-bar {
	-fx-background-color: textcolor-highlight-primary;
}

.list-cell .action-bar .label {
	-fx-font-size: large;
	-fx-font-weight: bold;
	-fx-font-style: italic;
}

.invalid-input {
	-fx-border-color: -fx-focus-color;
    -fx-border-width: 2;
    -fx-border-style: solid;
}






/*******************************
 * Character Document
 *******************************/
.character-document-view-grid {
   -fx-background-color: transparent;
}
.character-document-view-scroll {
   -fx-background-color: transparent;
}
.character-document-view-layout {
}
.character-document-view-buffer-left {
   -fx-min-width: 3em;
}
.character-document-view-buffer-right {
   -fx-min-width: 3em;
}

/** Section title */
.character-document-view-title {
  -fx-font-size: 120%;
  -fx-background-size: cover;
  -fx-padding: 0.5em;
  -fx-max-width: infinity;
}

.character-document-view-todos {
  -fx-max-width: 8em;
}
.character-document-view-content {
  -fx-border-width: 1px;
}
.character-document-view-description {
  -fx-background-color: transparent;
  -fx-padding: 0.2em;
  -fx-max-width: 20em;
  -fx-min-width: 15em;
}
.description-text {
  -fx-background-color: rgba(255, 255, 255, 0.7);
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-border-width:3;
  -fx-padding: 0.5em;
  -fx-border-color: transparent;
}

.settings-and-commandbar {
    -fx-background-color: transparent;
    -fx-border-style: none none solid none;
    -fx-border-width: 0 0 2px 0;
    -fx-padding: 0 0.5em 0 0.5em;
}

.settings-and-commandbar .button {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-font-size: 130%;
}
.settings-and-commandbar .button:hover {
}

.settings-and-commandbar .label {
    -fx-font-size: 130%;
}

