.root {
	-fx-background-image: url("../images/Skyline_Seattle_schwarz_1920x1080px.jpg");
	-fx-base: black;
	-fx-base-semitrans: rgba(0,0,0, 0.2);
 	-fx-dark-textcolor: pink;
	-fx-textcolor: white;


    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: cyan;

    /* Default buttons color, this is similar to accent but more subtle */
    -fx-default-button: #4fb6d6;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     */
    -fx-focus-color: #f25f29;
    -fx-focus-color: red;
    -fx-faint-focus-color: #f25f2933;

    -fx-default-button: orange;
    -fx-control-inner-background: #505050;
	-fx-control-inner-background-alt: #303030;

    -fx-box-border: ladder(
        -fx-color,
        orange 20%,
        derive(-fx-color,-15%) 60%
    );

    -fx-outer-border: derive(orange,-23%);

    /* The color to use in ListView/TreeView/TableView to indicate hover. */
    -fx-cell-hover-color: #0096C9;

    -fx-cell-focus-inner-border: #85b9de;

    /* The colors to use in Pagination */
    -fx-page-bullet-border: #acacac;
    -fx-page-indicator-hover-border: #accee5;

    textcolor-highlight-primary: orange;
}
.screen {
	-fx-background-image: url("../images/Skyline_Seattle_schwarz_1920x1080px.jpg");
	-fx-background-repeat: no-repeat, no-repeat;
}
.action-area {
	-fx-background-color: rgba(0,0,0, 0.5);
}
.content {
	-fx-background-color: rgba(32,32,32, 0.8);
}
.thumb {
    -fx-background-color: transparent,orange;
    -fx-background-insets: 0,2;
}

.page {
	-fx-background-image: url("../images/Skyline_Seattle_weiss_1920x1080px.jpg");
	-fx-background-size: cover;
    -fx-background-color: -fx-base;
    -fx-text-fill: textcolor-primary;
    -fx-text-fill: green;
    -fx-fill: yellow;
}

.navigation-area {
  -fx-background-image: url("../images/Shadowrun_hochkant.png");
  -fx-background-position: bottom center;
  -fx-background-insets: 30 30 30px 30;
}


.dialog {
	/*
	-fx-background-image: url("../images/Seattle_1920x1080px.jpg");
	-fx-background-size: cover;
	*/
}

.dialog-outside {
	-fx-background-color: rgba(255,255,255, 0.8);
	-fx-opacity: 1;
}

.dialog-line {
	-fx-background-color: rgba(0,0,0, 1);
}

.dialog-content{
	-fx-padding: 20px 0 20px 20px;
}
.card-tile {
	-fx-background-color: -fx-control-inner-background;
}
.card-tile .front {
  /* Labeled */
  -fx-alignment: center;
  -fx-text-fill: orange;
}
.card-tile #Attributes .front {
  -fx-background-color: linear-gradient(from 50% 30% to 50% 100%, -fx-control-inner-background, derive(orange, -20%));
}

.font-icon-text {
	-fx-fill: -fx-light-text-color;
}
.glow {
	-fx-effect: dropshadow( one-pass-box , textcolor-highlight-primary , 10 , 0.7 , 0 , 0 );
}

.combo-box-popup .list-view  {
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0;
}
.combo-box .list-cell  {
    -fx-background-color: -fx-control-inner-background;
}

.table-head {
  -fx-text-fill: textcolor-highlight-primary;
  -fx-border-color: textcolor-highlight-primary;
  -fx-font-weight: bold;
  -fx-border-width: 1px 0px 1px 0px;
  -fx-padding: 0em 0.2em 0em 0.2em;
}
.requirement-not-met-text {
	-fx-text-fill: red;
}
.card-tile {
    -fx-min-width: 13em;
    -fx-min-height: 13em;
}

/** Section title */
.character-document-view-title {
  -fx-background-image: url("../coriolis/header_background.png");
  -fx-text-fill: white;
  -fx-font-size: 200%;
  -fx-background-size: cover;
  -fx-padding: 0.5em;
  -fx-max-width: infinity;
}

/*******************************
 * TableViews
 *******************************/
 .table-view {
    -fx-background-color: transparent;
}
.table-column:rowhover {
    -fx-background-color: -fx-cell-hover-color;
}
.table-column:selected {
    -fx-background-color: textcolor-highlight-primary;
}
