.root {
	-fx-background-image: url("../images/Skyline_Seattle_weiss_1920x1080px.jpg");
    -fx-base: #e2deda;
   -fx-darker: derive(#e2deda, -20%);
   -fx-lighter: derive(#e2deda, +20%);
   darkred: #710e12;
}


/** Section title */
.character-document-view-title {
  -fx-text-fill: white;
  -fx-background-color: darkred;
}

.character-document-view-todos {
}
.description-text {
  -fx-background-color: rgba(255, 255, 255, 0.7);
  -fx-border-color: transparent;
}

.settings-and-commandbar {
    -fx-border-color: -fx-base;
}

/**
.settings-and-commandbar .button {
    -fx-background-color: rgba(0,0,0, 0.2);
    -fx-text-fill: white;
}
.settings-and-commandbar .button:hover {
    -fx-background-color: rgba(255,255,255, 0.2);
}

.settings-and-commandbar .label {
    -fx-text-fill: black;
}
*/
.command-bar {
    -fx-background-color: transparent;
}

#shadowrun-overview {
   -fx-background-image:  url('../images/Overview.png');
   -fx-background-position: right bottom;
   -fx-background-size: auto;
   -fx-background-repeat: no-repeat;
   -fx-background-insets: 0 -5em 0 0;
}
.wizard-content {
    -fx-background-color: -fx-base;
}
.dialog {
    -fx-background-image: url("../images/Skyline_Seattle_weiss_1920x1080px.jpg");
    -fx-background-size: cover;
 }

.dialog-outside {
    -fx-background-color: rgba(0,0,0, 0.8);
    -fx-opacity: 1;
}

.dialog-line {
    -fx-background-color: -fx-base;
}
